@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.css";
@import "primeflex/primeflex.css";

@import "./posts.scss";
@import "./post.scss";
@import "./navbar.scss";
@import "./updatePage.scss";
@import "./createPost.scss";
@import "./connexion.scss";

:root {
  --primaire : #FD2D01;
  --secondaire : #FFD7D7;
  --tertiaire : #4E5166;
}
body {
  background-color: var(--tertiaire) !important;
  color: var(--primaire) !important;
  font-family: 'Lato', sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
