@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.css";
@import "primeflex/primeflex.css";

@import "./posts.scss";
@import "./post.scss";
@import "./navbar.scss";
@import "./updatePage.scss";
@import "./createPost.scss";
@import "./connexion.scss";

:root {
  --primaire : #FD2D01;
  --secondaire : #FFD7D7;
  --tertiaire : #4E5166;
}
body {
  background-color: var(--tertiaire) !important;
  color: var(--primaire) !important;
  font-family: 'Lato', sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* show one post  */
.OneCard {
  margin: 1rem;
  padding: 1rem;

}
.onePost-header {
  display: flex !important;
    flex-direction: column !important;
    align-items: center !important; 
}
/* Comment BOX */
/*.comment-box {
justify-content: center;
max-width: 37.5rem;
  color: #fff;
  background-color: #909090;
  border-radius: 0.875rem;
  padding: 0.2rem 1rem 2rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;  

.comment-form-fields {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    margin-bottom: 0.25rem;
  input, textarea {
    border: none;
    border-bottom: 1px solid #909090;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
    
    &:focus {
      outline: none;
    }
  }
  textarea {
    font-style: italic;
  }ard-title
}
.comment-form-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}*/

.commentLi {
  list-style: none;
}
.card-no-border .card {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}
.border-comment {
  width: 100%;

}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.comment-widgets .comment-row {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding: 15px;
}
.comment-text:hover{
  visibility: hidden;
}
.comment-text:hover{
  visibility: visible;
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
}

.round img {
  border-radius: 100%;
}

.label-info {
  background-color: #1976d2;
}

.label-success {
  background-color: green;
}

.label-danger {
  background-color: #ef5350;
}

.action-icons a {
  padding-left: 7px;
  vertical-align: middle;
  color: #99abb4;
}

.action-icons a:hover {
  color: #1976d2;
}
#commentaire{
  height: 95px;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.disabled {
  pointer-events: none;
  cursor: default;
}
