/* New Post page */
.form-row{
    align-items: flex-start;
    padding: 24px 55px;
    border-bottom: 1px solid #e5e5e5;
  }
  #newPostForm {
    margin: 4rem;
    border: solid 5px;
    padding: 10px;
    height: 40rem;
    display: grid;
  }
  @media (max-width: 576px) {
    #newPostForm {
      margin: 2rem;
      height: auto;
      display: block;
      div {
        margin: 5px;
      }
      button {
        width: 100%;
      }
    .form-row{
      padding: 0;
    }
    }
    
  }
  #formTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  #formDescription {
        /* max-width: 700px; */
      height: 200px; 
      display: contents;
  }
  .errorFormNewPost {
    color: #f3afaf;
  }
  