
.navbar {
    color: var(--primaire);
    list-style-type: none;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px #495057;
    height: 60px;
  }
  .navList a {
    text-decoration: none;
  }
  a:visited, a:link{
    color: var(--primaire);
    text-decoration: none;
  }
  .logoSvg {
  width: 150px;
  height: 2rem;
  }
  .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  h1, h2, h3 {
    text-align: center;
  }
  
  
  
.nav-toggle {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  background-color: var(--primaire);
}
.navUl{
  margin: 0 25px;
}

@media (max-width: 576px){
  .navbar_extend{
    height: 120px;
  }
  .middle-border {
    min-height: auto;
    margin: 65px 30px 0 30px;
    border-right: 0;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
  .nav-toggle{
    display: block;
    top: 10px;
    right: 10px;
  }
  .navUl{
    display: flex;
    flex-direction: column !important;
    width: 100%;
    justify-content: center;
    ul {
      flex-direction: column !important;
    }
  }
  .maskNav{
    display: none;
  }
}