/*@import "~bootstrap/scss/bootstrap";*/

:root {
  --primaire : #FD2D01;
  --secondaire : #FFD7D7;
  --tertiaire : #4E5166;
}
body {
  background-color: var(--tertiaire) !important;
  color: var(--primaire) !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  color: var(--primaire);
  list-style-type: none;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px #495057;
}
.navList a {
  text-decoration: none;
}
a:visited, a:link{
  color: var(--primaire);
  text-decoration: none;
}
.logoSvg {
width: 150px;
height: 2rem;
}
.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
h1, h2, h3 {
  text-align: center;
}

/* Posts *//*
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5%;
  justify-content: space-between;
}
.likeButton {
  color: var(--secondaire);
  background: var(--primaire);
  border: 1px solid var(--tertiaire);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}



.p-content {
  padding: 1.25rem 0;
}

.p-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}



.p-header {
  width: 100%;
}

.p-box {
  width: 25rem; 
  margin-bottom: 2em;
}
*/
.article {
  margin-right: calc(0.5 * 1.5rem);
    margin-left: calc(0.5 * 1.5rem);
    display: flex;
    flex-wrap: wrap;
}
.cards {
  background: var(--secondaire);
  padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
    width: 20rem;
}
.p-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.p-container {
  display: flex;
  flex-direction: row;
}
.p-footer {
display: flex;
flex-direction: row;
justify-content: space-around;
}
/* New Post page */



/* show one post  */
.OneCard {
  margin: 1rem;
  padding: 1rem;

}
.onepost-header {
  display: grid;
  justify-items: center;
}
/* Comment BOX */
.comment-box {
justify-content: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.comment-form-fields {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.comment-form-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
